@page "/upload"
@inject ISnackbar Snackbar
@inject IBnBService BnBService
@using RealbnbDev.Models
@using RealbnbDev.Services

<div class="property-page">
    <form class="property-upload-form">
        <div class="row">
            <div class="left-column">
                <!--Left Column content begins-->
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="roomName">Room Name</label>
                        <input type="text" class="form-control" id="roomName" placeholder="Enter the room name" @bind="@objBnB.Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" placeholder="Enter price in USD" @bind="@objBnB.Price">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="Category">Room Category</label>
                        <select id="inputState" class="form-control" @bind="@objBnB.Category">
                            <option selected>Choose Category</option>
                            <option value="1">Private Room</option>
                            <option value="2">Hotel Room</option>
                            <option value="3">Entire Place</option>
                            <option value="4">Shared Room</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Enter the property location" @bind="@objBnB.Location">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label class="file"><h4>Select Main Image</h4>
                            <input type="file" id="file" aria-label="File browser example" @bind="@objBnB.Image">
                            <span class="file-custom"></span>
                        </label>
                    </div>
                </div>
            </div><!--Left Column content ends-->


            <div class="middle-column">
                <!--middle Column content begins-->
                <!--Amenities Begins-->
                <div class="form-group col-md-12">
                    <h4>Amenities</h4>
                    <div class="row checkbox-class">
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Air Conditioning
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value=""> Kitchen
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Shampoo
                        </label>
                    </div>
                    <div class="row checkbox-class">
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Indoor Fireplace
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Dryer
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Smoke&nbsp;Alarm
                        </label>
                    </div>
                    <div class="row checkbox-class">
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Piano
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Wifi
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Ski&minus;In/Ski&minus;Out
                        </label>
                    </div>
                    <div class="row checkbox-class">
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">High&nbsp;Chair
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Heating
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Private Bathroom
                        </label>
                    </div>
                    <div class="row checkbox-class">
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Carbon Monoxide Alarm
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Waterfront
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Iron
                        </label>
                    </div>
                    <div class="row checkbox-class">
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Hair&emsp;Dryer
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Dedicated Workspace
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Hangers
                        </label>
                    </div>
                    <div class="row checkbox-class">
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Washing Machine
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">Beachfront
                        </label>
                        <label class="checkbox-inline col-md-3">
                            <input type="checkbox" value="">TV
                        </label>
                    </div>
                </div>
                    <!--Amenities Ends-->

                </div><!--middle Column content ends-->

                <div class="right-column">
                    <!--right Column content begins-->
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple accept=".jpg, .jpeg, .png" />
                            <MudFab HtmlTag="label"
                                    Color="Color.Secondary"
                                    Icon="@Icons.Filled.Image"
                                    Label="Upload other images"
                                    for="fileInput" />
                        </div>
                    </div>
                </div><!--right Column content ends-->

                <div class="form-group col-md-10">
                    <label for="description">Room Description</label>
                    <textarea type="text" class="form-control" rows="5" cols="2" id="description" placeholder="Write a brief description about the room" @bind="@objBnB.Description" />
                </div>
            </div>
        <button type="submit" class="btn btn-primary" @onclick="@CreateProperty">Upload</button>

    </form>
</div>
@if (files != null)
{
    <MudText Typo="@Typo.h6">@files.Count() File@(files.Count() == 1 ? "" : "s"):</MudText>
    <MudList>
        @foreach (var file in files)
        {
            <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                @file.Name <code>@file.Size bytes</code>
            </MudListItem>
        }
    </MudList>
}
@code {
    /*for image upload MudBlazor code*/
    IList<IBrowserFile> files = new List<IBrowserFile>();
    private void UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
        }
        //TODO upload the files to the server
    }
    /*********************For create property record**************************/
    bnbProperties objBnB = new bnbProperties();
    protected async Task CreateProperty()
    {
        await BnBService.CreateProperty(objBnB);
        //NavigationManager.NavigateTo("Todolist");
    }
}

